html,
body,
.container {
  height: 100%;
  position: relative;
}

body {
    background: #EEEEEE;
    width: 100%;
}

.card {
    margin: 3% 0;
}

.card-img-bottom {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}