html,
body,
.container {
  height: 100%;
  position: relative;
}

body {
    background: #EEEEEE;
    width: 100%;
}

.btn {
    font-size: unset;
}

.btn-link {
    color: white;
    text-decoration: none;
}

.btn-link:hover {
    color: white;
}

.btn::selection{
    border: none;
}

.card {
    margin: 3% 0;
}

.card-img-bottom {
    width: 100%;
    object-fit: cover;
}

.clear-float {
    clear: both;
}

.align-left {
    float: left;
}

.align-right {
    float: right;
}